<style>
#green{
 color: green;   
}
#grey{
    color: gray;
}
#skyblue{
    color: skyblue;
}
#hacker{
       color: rgb(185, 159, 189)
}
</style>
<a href="https://medium.com/@saurabhsingh836847">
<h1 id="green">MEDIUM</h1><hr><br>

</a>

<a href="https://github.com/saurabh2908">
    <h1 id="grey">GITHUB</h1><hr><br>
    
    </a>
    <a href="https://www.linkedin.com/in/saurabh-singh-158373169">
        <h1 id="skyblue">LINKDIN</h1><hr><br>
        
        </a>

        <a href="https://hackerrank.com/saurabhsingh8362">
            <h1 id="hacker">HACKERRANK</h1><hr><br>
            
            </a>