
    <!--  -->
<style>
    #email{
        border-radius:50%;
            /* margin-left: 50px; 
            margin-top: 50px; */
    }
    h3{
   
        color: white;
    }
    
        img{
            
            border-radius:50%;
            margin-left: 50px; 
            margin-top: 50px;
        }
        .resume{
            display: flex;
        }
        #shift{
           border: hidden;
           padding-top: 25px;
           padding-bottom: 40px;
           padding-right: 80px;
           padding-left: 50px;
           background-color: gray;
           opacity: 0.8;
           color: white;
           margin-left: 300px;
        }
        .edu{
          display: flex;
          color: white
        }
        #year{
            margin-right: 200px;
            
        }
        #cal{
            margin-top: 80px;
        }
        /* #inst{
            margin-top: 40px;
        } */
        #one{
            margin-top: 60px;
        }
        #two{
            margin-top: 90px;
        }
        #three{
            margin-top: 70px;
        }
        
        
        </style>
        
        <div class="resume">
            <div id="cover">
                   
             <img src="/public/images/contact.jpg" width="200px" height="200px" alt=""><br>
             <hr width="270px">
            
         <strong><h3>The Best Way To Reach Me </h3><br>
           </strong>
           <a href="saurabhsingh836847@gmail.com">
           <h2>EMAIL</h2>
        </a>
        <a href="">
                <h2>FACEBOOK</h2>
             </a>
             <a href="https://twitter.com/saurabh57476242">
                    <h2>TWITTER</h2>
                 </a>

            </div>
            <div id="shift">
                <div id="sec">
               <strong><h1>CONTACT</h1></strong>
            </div>
               <div class="edu">
                   <div id="year">
                       <div id="email">
                    <img src="/public/images/email.png" width="70px" height="70px" alt=""><br>
                </div>
                   <img src="/public/images/twitter.jpg" width="70px" height="70px" alt=""> <br>
                   <img src="/public/images/facebook.png" width="70px" height="70px" alt="">
                   </div>
                   
                       
                   
                   <div id="inst">
                    <h3 id="one">saurabhsingh836847@gmail.com</h3><br>
                    <h3 id="two">
                            @saurabh57476242</h3><br>
                    <h3 id="three">saurabh singh</h3>
                   </div>
               </div>
            </div>
        </div>
<!-- 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">   
     -->