<style>
    img{
        size: 20px;
        border-radius:50%;
        margin-left: 500px; 
        margin-top: 50px;
    }
    #box{
        width: 300px;
        
        /* background-color:black; */
        background-color: rgb(92, 50, 50);
        border-style:  hidden;
        text-align: center;
        width: 900px;
        height: 200px;
        color: white;
       border-radius: 10px; 
       margin-left: 150px;
       margin-top: 50px;
       /* opacity: 0.3; */
    }
</style>

<img src="/public/images/Itachi.png" width="200" height="200" alt="">
<div id="box">
<strong>
<h1>FULL STACK WEB DEVELOPER</h1><br>
 <h3>HTML/CSS | Javascript | Angular | React | NodeJs | EXPRESS | MONGODB  </h3>
</strong>
</div>