<style>
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding-left: 50px;
  padding-top: 100px;
}

</style>
<div class="row">
<div class="column">
<a href="https://github.com/saurabh2908/MEAN_ChatApp_V1">
<img src="/public/images/angular1.png" width="200px" height="200px" alt="">
<h1> CHAT APP</h1>
</a>
</div>

<div class="column">
        <a href="https://github.com/saurabh2908/NodeMailer">
        <img src="/public/images/angular1.png" width="200px" height="200px" alt="">
        <h1>Node Mailer</h1>
        </a>
        </div>

        <div class="column">
                <a href="https://github.com/saurabh2908/Question_crud">
                <img src="/public/images/js.png" width="200px" height="200px" alt="">
                <h1>Question_crud</h1>
                </a>
                </div>
            </div>