
<style>
img{
    
    border-radius:50%;
    margin-left: 50px; 
    margin-top: 40px;
}
.resume{
    display: flex;
}
#cover{
    margin-bottom: 60px
}
#shift{
   border: hidden;
   padding-top: 25px;
   padding-bottom: 130px;
   padding-right: 100px;
   padding-left: 100px;
   background-color: black;
   opacity: 0.9;
   color: white
}
.edu{
  display: flex;
  color: white
}
#year{
    margin-right: 200px;
    
}
#cal{
    margin-top: 80px;
}
#d{
    margin-top: 70px;
}
#y{
    margin-top: 60px;
}

</style>

<div class="resume">
    <div cover>
     <img src="/public/images/dummy.png" width="200px" height="200px" alt="">
     <strong><h1>SAURABH SINGH</h1></strong>
   <strong>  <p>Hi friends,</p><br></strong>

           <strong> <p>I am currently B.Tech Computer Science and Engieering undergraduate 
            student at HMR INSTITUTE OF TECHNOLOGY AND MANAGEMENT,HAMIDPUR</p>
            
            I am A Developer , geek and curious human besides being an OpenSource enthusiast. I have experience of delivering for interesting problems from startup and industry space.
            
            I love to read, listen to music, and travel. I skate in my leisure.</strong>
    </div>
    <div id="shift">
        <div id="sec">
       <strong><h1>EDUCATION</h1></strong>
    </div>
       <div class="edu">
           <div id="year">
           <p>SCHOOL</p><br>
           <p id="d">COLLEGE</p><br>
           <p  id="cal">YEAR OF PASSING</p>
           </div>
           <div id="inst">
            <p>GOVT BOYS SIR SENIOR SECONDARY SCHOOL</p><br>
            <p>HMR INSTITUTE OF TECHNOLOGY</p><br>
            <p id="y">2021</p>
           </div>
       </div>
    </div>
</div>
